<p>
  <button type="button" class="btn btn-info" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="onClickClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
</p>


<form class="form-horizontal"
        novalidate
        (ngSubmit)="save(form1)"
        #form1="ngForm">
        <fieldset>
                <div class="row">
                    <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text"
                            class="form-control"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            name="datum"
                            ngModel
                            #dp="bsDatepicker"
                            bsDatepicker [(bsValue)]="bsValue">
                    </div>
                    <div class="col-xs-12 col-12 col-md-3 form-group">
                    <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
                    </div>
                </div>

                <div class="row">
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                        <input  class="form-control" 
                                name="datumRange"
                                ngModel
                                #drp="bsDaterangepicker" 
                                bsDaterangepicker [(ngModel)]="bsRangeValue">                        
                            </div>
                        <div class="col-xs-12 col-12 col-md-3 form-group">
                        <button class="btn btn-success" (click)="drp.toggle()">Date Range Picker</button>
                        </div>
                </div>

                <button class="btn btn-primary" type="submit">
                        Submit
                </button>
        </fieldset>
</form>

