<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h2>
    Welcome to {{title}}!!
  </h2>
  <div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li><a [routerLink]="['/products']">Product List</a></li>
                <li><a [routerLink]="['/mobiles']">Mobile List</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <p>Hier ist das router outlet tag</p>
        <router-outlet></router-outlet>
    </div>
 </div>
</div>
